#textArea {
  width: 700px;
  height: 150px;
  font-family: arial;
  font-size: 36px;
}

#inputArea {
  width: 700px;
  height: 50px;
}

#inputText {
  width: 700px;
  height: 50px;
  font-size: 16px;
}

#translationChoices {
  margin: 10px;
  font-family: arial;
  font-size: 18px;
}

#translationArea {
  width: 700px;
  height: 150px;
  font-family: arial;
  font-size: 36px;
}

#translationInputText {
  width: 700px;
  height: 50px;
  font-size: 16px;
}
html{
  background-color: #077;
}
